/* buttons css */
.Btn-search {
    vertical-align: inherit;
    font-size: initial;
    background: #37b5db;
    border-radius: 3px;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
    padding: 5px 25px;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.Btn-search:hover {
    background: #FFF;
    color: #040404;
}


.Btn-search-sub {
    text-align: center;
    font-size: initial;
}
.Btn-search-sub p {
    margin-bottom: 5px;
    font-weight: 600;
    color: #6bb6ff;
    letter-spacing: 0.04rem;
    display: inline-block;
    position: relative;
}
.Btn-search-sub p:before, .Btn-search-sub p:after {
    display: inline-block;
    position: absolute;
    top: 45%;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background-color: #6bb6ff;
    content: "";
}
.Btn-search-sub p:before {
    left: -30px;
    -webkit-transform: rotate( 50deg );
    transform: rotate( 50deg );
}
.Btn-search-sub p:after {
    right: -30px;
    -webkit-transform: rotate( -50deg );
    transform: rotate( -50deg );
}
.Btn-search-sub span {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 190px;
    padding: 10px 25px;
    font-weight: 600;
    background: #6bb6ff;
    border-radius: 3px;
    cursor: pointer;
}
.Btn-search-sub span:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

.Btn-mylocation {
    display: inline-flex;
    vertical-align: middle;
    justify-content: space-around;
    align-items: center;
    padding: 5px 11px;
    margin: 0 auto;
    cursor:pointer;
}
.Btn-mylocation .outerCircle {
    background-color: red;
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}
.Btn-mylocation .innerCircle {
    background-color: #FFF;
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    color: red;
    font-size: 13px;
}
.Btn-mylocation .horiLine {
    border-bottom: 2px solid red;
    position: absolute;
    width: 30px;
}
.Btn-mylocation .vertLine {
    border-bottom: 2px solid red;
    position: absolute;
    width: 28px;
    transform: rotate(90deg);
}