/* item page css */
.store-page {
    background-color: #050e1f;
  }
  
  .store-page p {
    margin: auto;
    margin-top: 1em;
    color: darkgray;
  }

  .store-page .leaflet-container {
    width: auto;
    height: 400px;
    margin: auto;
  }
    
  @media (max-width: 700px){
    .store-page p {
        font-size: small;
    }
  }
  @media (min-width: 701px) {
    .store-page p {
        font-size: large;
    }
  }